@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --font-serif: "Newsreader", serif;
  --font-sans: "Work Sans", sans-serif;

  --color-brand-blue: #003366;
  --color-brand-cream: #F9F7F2;
  --color-brand-ink: #1c1b1b;
  --color-brand-surface: #f1edeb;
  --color-brand-surface-low: #f7f3f1;
  --color-brand-green-tint: #ecf3f0;
  --color-brand-accent: #003366; 
  
  --radius-2xl: 24px;
  --radius-3xl: 32px;
}

@layer base {
  body {
    @apply bg-brand-cream text-brand-ink font-sans antialiased;
  }
}

/* Hide scrollbar for horizontal scrolling areas */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
